<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Dashboard - Campus Wellness</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    #dash{
      visibility:hidden;
    }
  </style>
</head>

<body>
  <%- include('../partials/header') %>
  <main class="main-content">
    <div class="dashboard-container">
      <h1 class="welcome-title">Welcome, <%= user.name %>
        </h1>
        <div class="dashboard-grid">
          <a href="/appointments/doctor/<%= user.id %>" class="dashboard-card">VIEW APPOINTMENTS</a>
          <a href="/doctors/<%= user.id %>/availability/create" class="dashboard-card">SET AVAILABILITY</a>
          <a href="/doctors/<%= user.id %>/availability/view" class="dashboard-card">VIEW SCHEDULE</a>
          <a href="/referrals/doctor/<%= user.id %>" class="dashboard-card">APPROVE REFERRALS</a>
          <a href="/concerns/doctor/<%= user.id %>" class="dashboard-card">RESPOND TO CONCERNS</a>
          <!-- <a href="/records/<%= user.id %>/edit" class="dashboard-card">UPDATE PRESCRIPTIONS</a> -->
          <a href="/change-password" class="dashboard-card">CHANGE PASSWORD</a>
          <a href="/profile" class="dashboard-card">EDIT PROFILE</a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>
